@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

input,
textarea {
  outline: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

strong {
  font-weight: bold;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@font-face {
  font-family: 'Arial Black';
  src: url("../fonts/Arial-Black.eot");
  src: local("тШ║"), url("../fonts/Arial-Black.woff") format("woff"), url("../fonts/Arial-Black.ttf") format("truetype"), url("../fonts/Arial-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body, html {
  height: 100%;
}

body {
  background: url(../img/bg.jpg);
  font: 12px Arial;
}

#bg-balls {
  position: absolute;
  top: -107px;
  left: -249px;
  width: 973px;
  height: 609px;
  background: url(../img/bg_balls_2.png);
  z-index: 10;
}

.wrapper {
  width: 940px;
  margin: auto;
  position: relative;
}

.clearfix {
  clear: both;
}

a:hover {
  text-decoration: none;
}

input[type=button]:hover {
  opacity: .8;
}

.main-title {
  font: 36px Arial;
  font-weight: bold;
  margin: 10px 0 25px 0;
  padding: 0 0 3px 0;
  border-bottom: 1px solid #000;
}

/* 
    ****************************
	START: Header 
	**************************** 
*/
header {
  width: 100%;
  height: 105px;
  position: relative;
  z-index: 80;
  overflow: hidden;
}
header #logo {
  position: absolute;
  top: 0;
  left: -80px;
  z-index: 60;
}

/* 
    ****************************
	END: Header 
	**************************** 
*/
/* 
    ****************************
	START: Nav 
	**************************** 
*/
nav {
  position: absolute;
  top: 32px;
  right: 12px;
  z-index: 65;
}
nav ul li {
  float: left;
  list-style: none;
}
nav ul li a {
  color: #fff;
  font: 16px Arial;
  text-decoration: none;
  text-align: center;
  display: block;
  height: 55px;
}
nav ul li a:hover {
  -webkit-transition: .3s ease-out 0.1s;
  -moz-transition: .3s ease-out 0.1s;
  -o-transition: .3s ease-out 0.1s;
  transition: .3s ease-out 0.1s;
}
nav ul li a.item-1 {
  background: url(../img/bg1.png) no-repeat;
  width: 129px;
  margin: 33px 12px 0 0;
  padding: 14px 0 0;
}
nav ul li a.item-1 img {
  margin: 0px 7px -1px 0;
}
nav ul li a.item-1:hover {
  margin-top: 20px;
}
nav ul li a.item-2 {
  background: url(../img/bg2.png) no-repeat;
  width: 99px;
  margin: 31px 16px 0 0;
  padding: 16px 0 0;
}
nav ul li a.item-2:hover {
  margin-top: 18px;
}
nav ul li a.item-3 {
  background: url(../img/bg3.png) no-repeat;
  width: 121px;
  margin: 31px 16px 0 0;
  padding: 16px 0 0;
}
nav ul li a.item-3:hover {
  margin-top: 18px;
}
nav ul li a.item-4 {
  background: url(../img/bg4.png) no-repeat;
  width: 102px;
  margin: 31px 16px 0 0;
  padding: 16px 0 0;
}
nav ul li a.item-4:hover {
  margin-top: 18px;
}
nav ul li a.item-5 {
  background: url(../img/bg5.png) no-repeat;
  width: 250px;
  margin: 15px 0 0;
  padding: 24px 0 0;
}
nav ul li a.item-5:hover {
  margin-top: 2px;
}
nav ul li a.imprtnt {
  font-size: 22px;
}

/* 
    ****************************
	END: Nav
	**************************** 
*/
/* 
    ****************************
	START: Main 
	**************************** 
*/
#main {
  width: 100%;
  min-height: 700px;
  position: relative;
  z-index: 50;
  background: #fff;
  border: 2px solid #cecece;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}
#main.index {
  background-color: #fff;
  background-image: url(../img/bg_contest.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
#main #content {
  width: 640px;
  padding: 20px 18px;
  float: left;
}
#main #content .contest-info {
  position: relative;
}
#main #content .contest-info .item-info {
  margin: 0 0 50px 0;
}
#main #content .contest-info .slider_wrap {
  position: relative;
  width: 100%;
  height: 480px;
  margin: 0 0 20px 0;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
#main #content .contest-info .slider_wrap #slider-prev {
  position: absolute;
  top: 46%;
  left: 0;
  width: 60px;
  height: 60px;
  background: #84bb80 url(../img/slider_nav.png) no-repeat 18px 11px;
  display: block;
}
#main #content .contest-info .slider_wrap #slider-prev a {
  display: block;
  width: 100%;
  height: 100%;
}
#main #content .contest-info .slider_wrap #slider-prev:hover {
  opacity: .8;
}
#main #content .contest-info .slider_wrap #slider-prev:active {
  opacity: 1;
}
#main #content .contest-info .slider_wrap #slider-next {
  position: absolute;
  top: 46%;
  right: 0;
  width: 60px;
  height: 60px;
  background: #84bb80 url(../img/slider_nav.png) no-repeat 22px -70px;
  display: block;
}
#main #content .contest-info .slider_wrap #slider-next a {
  display: block;
  width: 100%;
  height: 100%;
}
#main #content .contest-info .slider_wrap #slider-next:hover {
  opacity: .8;
}
#main #content .contest-info .slider_wrap #slider-next:active {
  opacity: 1;
}
#main #content .contest-info .contest-banner {
  height: 595px;
}
#main #content .contest-info .info {
  position: absolute;
  top: 465px;
  left: 220px;
  font-size: 16px;
}
#main #content .contest-info td {
  padding: 0 20px 0 0;
  vertical-align: top;
}
#main #content .contest-info td:nth-child(3) {
  padding: 0;
}
#main #content .contest-info td span {
  display: block;
  margin: 10px 0 0 15px;
  font-size: 14px;
}
#main #content .contest-info td input[type=button] {
  width: 195px;
  height: 55px;
  background: #f59e46;
  color: #fff;
  font: 18px "Arial Black";
  text-transform: uppercase;
  border: none;
  border-right: 4px solid #b87634;
  border-bottom: 4px solid #b87634;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
#main #content .contest-info td .title {
  font: 16px "Arial Black";
  text-transform: uppercase;
  margin: 0 0 15px 0;
  line-height: 1.3;
}
#main #content .contest-info td ul {
  margin: 20px 0 0;
  padding: 0;
}
#main #content .contest-info td li {
  list-style: none;
  float: left;
}
#main #content .contest-info td li .icon {
  display: block;
  float: left;
  width: 34px;
  height: 34px;
  background: url(../img/social_icons.jpg);
  margin: 0 12px 0 0;
}
#main #content .contest-info td li .icon.vk {
  background-position: 0px 0px;
}
#main #content .contest-info td li .icon.fb {
  background-position: -47px 0px;
}
#main #content .contest-info td li .icon.tw {
  background-position: -93px 0px;
}
#main #content .contest-info td li .icon.od {
  background-position: -139px 0px;
}
#main #content .contest-info td li .icon:hover {
  opacity: .8;
}
#main #content .main-info {
  background: url(../img/bg_main_info.jpg);
  width: 683px;
  height: 130px;
  margin: 25px 0 0;
  clear: both;
}
#main #content .main-info p {
  font-size: 20px;
  color: #fff;
  padding: 32px 0 0 67px;
  width: 420px;
}
#main #content .more-ideas .user-info {
  background: #f2f6cc;
  margin: 35px 0 0;
  padding: 25px 0;
  border-right: 4px solid #b5b899;
  border-bottom: 4px solid #b5b899;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
#main #content .more-ideas .user-info .box {
  width: 100%;
  margin: 0 0 40px 0;
  float: none;
  text-align: center;
}
#main #content .more-ideas .user-info p {
  text-align: center;
  font-size: 14px;
  margin: 25px 80px 0 80px;
}
#main #content .more-ideas .item {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin: 0 16px 25px 0;
}
#main #content .more-ideas .item:nth-child(3n+3) {
  margin: 0;
}
#main #content .more-ideas .item a {
  text-decoration: none;
  position: relative;
}
#main #content .more-ideas .item a span {
  font-size: 10px;
  display: block;
  margin: -20px 7px 0 0;
  float: right;
  color: #000;
  position: relative;
  z-index: 200;
}
#main #content .more-ideas .item a p {
  font: 12px "Arial Black";
  text-transform: uppercase;
  color: #000;
  margin: 10px 0 0;
}
#main #content .more-ideas .item a img {
  width: 200px;
  height: 140px;
}
#main #content .more-ideas .item a:hover p {
  color: #666;
}
#main #content .more-ideas .item a .toy {
  margin: 0px 0px -60px 140px;
  position: relative;
  z-index: 300;
  display: block;
  background: url(../img/balls_icon.png);
  width: 55px;
  z-index: 50;
  overflow: hidden;
}
#main #content .more-ideas .item a .toy.toy-1 {
  background-position: 0 0;
  height: 60px;
}
#main #content .more-ideas .item a .toy.toy-2 {
  background-position: 0 -59px;
  height: 60px;
}
#main #content .more-ideas .item a .toy.toy-3 {
  background-position: 0 -120px;
  height: 70px;
  margin-bottom: -70px;
}
#main #content .partners .desc {
  font-size: 16px;
  margin: 0 0 65px 0;
}
#main #content .partners .box {
  margin: 0 0 30px 0;
  clear: both;
}
#main #content .partners .box img {
  float: left;
}
#main #content .partners .box .text-block {
  float: right;
  width: 420px;
}
#main #content .partners .box .text-block a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin: 20px 0;
}
#main #content .partners .box .text-block a:hover {
  color: #666;
}
#main #content .partners .box .text-block div {
  font-size: 14px;
  line-height: 1.5;
}
#main #content #form-idea {
  background: #d2d986;
  border-right: 4px solid #9da364;
  border-bottom: 4px solid #9da364;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  padding: 10px 15px 10px 15px;
}
#main #content #form-idea p {
  font: 18px "Arial Black";
  text-transform: uppercase;
  line-height: 1.3;
}
#main #content #form-idea label {
  display: block;
  margin: 15px 0 6px 10px;
}
#main #content #form-idea input[type=text], #main #content #form-idea textarea {
  width: 390px;
  padding: 10px;
  font: 12px "Arial";
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: none;
}
#main #content #form-idea textarea#name, #main #content #form-idea textarea#fio {
  height: 25px;
}
#main #content #form-idea textarea#desc {
  height: 80px;
}
#main #content #form-idea input[type=button] {
  width: 210px;
  height: 45px;
  margin: 35px 0 0 -5px;
  background: #3ba933;
  color: #fff;
  font: 18px "Arial Black";
  text-transform: uppercase;
  border: none;
  border-right: 4px solid #2c7f26;
  border-bottom: 4px solid #2c7f26;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
#main #content #form-idea .fileform {
  margin: 20px 0 0;
}
#main #content #form-idea .fileform .selectbutton {
  overflow: hidden;
  width: 150px;
  height: 25px;
  background: #a0cc5b;
  font: 12px Arial;
  color: #000;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  border-right: 4px solid #789944;
  border-bottom: 4px solid #789944;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
#main #content #form-idea .fileform #upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  font-size: 150px;
  height: 30px;
  z-index: 20;
}
#main #content #form-idea .fileform #fileformlabel {
  color: #0059c6;
  font-size: 12px;
  margin: 5px 0 0 5px;
}
#main #form-icon {
  background: url(../img/form_icon.png);
  width: 140px;
  height: 140px;
  position: absolute;
  top: -18px;
  right: -10px;
}
#main #sidebar {
  width: 241px;
  float: right;
  padding: 20px 15px 0 0;
  position: relative;
}

/* 
    ****************************
	END: Main
	**************************** 
*/
/* 
    ****************************
	START: Footer
	**************************** 
*/
footer {
  margin: 10px 0 0;
  width: 100%;
  height: 190px;
  background: #eaeaea;
  z-index: 100;
}
footer .wrapper {
  padding: 25px 0 0;
  width: 890px;
}
footer a {
  text-decoration: underline;
  color: #cf6dcb;
}
footer .item {
  float: left;
}
footer .item.copy {
  width: 200px;
}
footer .item.copy p {
  margin: 0 0 5px 0;
}
footer .item.copy #logo {
  margin: 35px 0 0;
}
footer .item.footer-menu li {
  margin: 0 0 5px 0;
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
footer .item.footer-menu li a {
  color: #575757;
}
footer .item.social {
  float: right;
  text-align: right;
}
footer .item.social ul {
  float: right;
}
footer .item.social li {
  float: left;
}
footer .item.social li .icon {
  display: block;
  background: url(../img/social_icons.png);
  width: 25px;
  height: 25px;
  margin: 7px 0 0 7px;
}
footer .item.social li .icon.vk {
  background-position: 0px 0px;
}
footer .item.social li .icon.ig {
  background-position: 0px -50px;
}
footer .item.social li .icon:hover {
  opacity: .8;
}

/* 
    ****************************
	END: Footer
	**************************** 
*/
